importFrom(httr, GET)
importFrom(httr, POST)
importFrom(httr, content)
importFrom(httr, add_headers)
importFrom(dplyr, bind_rows)
importFrom(dplyr, filter)
importFrom(dplyr, tibble)
importFrom(dplyr, pull)
importFrom(dplyr, mutate)
importFrom(dplyr, case_when)
importFrom(purrr, map_depth)
importFrom(purrr, flatten_chr)
importFrom(jsonlite, parse_json)
export(get_APEX_auth_token)
export(get_portfolio_positions)
export(get_realized_gains_losses)
export(get_open_positions)
export(get_account_activity)
